# python
*.py[cod]
env

# git
.git

# tools
node_modules/
npm-debug.log
bower_components/
.module-cache

# mac os
.DS_Store
.AppleDouble
.LSOverride
Icon

# thumbnails
._*

# files that might appear on external disk
.Spotlight-V100
.Trashes

# pycharm
.idea/
